
/* General */

html {
    height: 500px;
    width: 350px;
}

.main-title {
    background-color: aqua;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.nav-bar {
    height: 7%;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.nav-list {
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}

.nav-button {
    width: 25%;
    border: 1px solid skyblue;
    border-top: 0px;
    border-left: 0px;
    border-right-width: thin;
    border-bottom-width: medium;
}

.nav-button:hover {
    filter: brightness(125%);
}

.current-display {
    height: 100%;
    width: 100%;
    margin: 1%;
}

.verification-message {
    font-size: medium;
    font-style: italic;
    color: lightgreen;
    display: none;
}

/* Spacers  */

.vertical-spacer {
    display: block;
    height: 1%;
    width: 100%;
}

.large-vertical-spacer {
    display: block;
    height: 10%;
    width: 100%;
}

/* Active website view */

.active-website-container {
    height: 20%;
    width: 100%;
    text-align: center;
}

.active-website-intro {
    height: fit-content;
    width: 100%;
    font-size: x-large;
    text-decoration: underline;
}

.active-website-dom {
    height: fit-content;
    width: 100%;
    font-size: large;
}

.active-time {
    height: fit-content;
    width: 100%;
    font-size: large;
}

/* Today Analytic Styles */

#display-today {
    display: block;
}

.all-websites-intro {
    height: fit-content;
    width: 100%;
    text-align: center;
    font-size: x-large;
}

.websites-container {
    height: 60%;
    width: 100%;
    overflow-y: auto;
}

.viewed-website {
    height: fit-content;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: large;
    text-decoration: underline;
    word-spacing: 100px;
    margin: 1% 1% 1% 1%;
}

/* Setting Styles */

#display-settings {
    display: none;
}

.add-blocked-dom {
    height: 17%;
    width: 100%;
    display: inline-block;
}

.add-title {
    font-size: x-large;
    text-align: center;
}

#blocked-input {
    width: 96%;
}

#addBlocked {
    width: 50%;
    display: flex;
    justify-content: center;
}

